.how-to-flash {
  padding-top: 4em;
  padding-bottom: 4em;
  .network-definition {
    .field {
      padding: 0.5em;
      display: flex;
      align-content: center;
      align-items: center;
      
      .field--name, .field--value {
        display: flex;
        align-content: center;
        align-items: center;
      }
      .field--name {
        flex: 1 1 60%;
        @media screen and (min-width: 560px) {
          flex: 1 1 30%;
        }
      }
      .field--value {
        flex: 1 1 40%;
        @media screen and (min-width: 560px) {
          flex: 1 1 70%;
        }
      }
      svg {
        margin-right: 0.5em;
      }
    }
  }
  .intro {
    text-align: left;
    margin-top: -4em;
    padding: 6em 0;
    box-shadow: 0 0px 10px rgba(0,0,0, 0.4) inset;
    background-color: rgba(#2E2E44, 0.9);
    margin-bottom: 2em;
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
    p {
      color: rgba($color: white, $alpha: 0.8)
    }
    span {
      color: white;
    }
    .summary {
      text-align: center;
      .rp3 {
        max-width: 50%;
      }
    }

    .flash-steps {
      display: flex;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
      span {
        margin: 0 5px;
      }
    }
  }
  .steps-title {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
  }
  .step {
    padding: 2em 0em;
    border-bottom: 1px dashed #2E2E44;

    &:last-child {
      border-bottom: none;
    }

    img {
      max-width: 100%;
    }

    .step-header {
      display: flex;
      justify-content: flex-start;
      justify-items: center;
      align-items: center;

      .number {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 16px;
        color: white;
        background-color: rgba(#2E2E44, 0.9);
        height: 30px;
        width: 30px;
        min-width: 30px;
        border-radius: 100%;
        margin-right: 10px;
      }
      .title {
        flex: 0 1 auto;
        display: flex;
        text-align: left;
        h1 {
          font-size: 1.8em;
          font-weight: 400;
          margin: 0 0;
          @media screen and (max-width: 576px) {
            font-size: 1.4em;
          }
        }
      }
    }
    
    .step-content {
      padding-top: 1em;
      padding-left: 1em;
      text-align: left;
      justify-content: flex-start;

      img, video {
        margin: 0 auto;
      }
    }

    .btn-group {
      @media screen and (max-width: 576px) {
        flex: 1 1 100%;
      }
    }

    .btn-select {
      min-width: 300px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 576px) {
        min-width: 100%;
      }
    }
  }
}
