
$successColor: rgb(140,194,72);
$warningColor: rgb(255,150,6);
$dangerColor: rgb(220,65,47);

.internet-filters {

  &.MuiButtonBase-root {
    margin: 0em 0;
    padding: 1em 0;
    @media screen and (max-width:567px) {
      display: flex;
      justify-items: flex-start;
      width: 100%;
    }
  }

  .button-inner {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    @media screen and (max-width: 567px) {
      padding: 0 0.5em;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
    }
  }

  &.open {
    border-bottom: 6px solid rgba($successColor, 0.6);
    // background-color: rgba($successColor, 0.4);
    // &:hover {
    //   background-color: rgba($successColor, 0.5);
    // }
  }

  &.secure {
    border-bottom: 6px solid rgba($warningColor, 0.6);
    // background-color: rgba($warningColor, 0.4);
    // &:hover {
    //   background-color: rgba($warningColor, 0.5);
    // }
  }

  &.kids {
    border-bottom: 6px solid rgba($dangerColor, 0.6);
    // background-color: rgba($dangerColor, 0.4);
    // &:hover {
    //   background-color: rgba($dangerColor, 0.5);
    // }
  }

  &.enabled {
    opacity: 1;
    .button-inner {
      span {
        color: lighten($color: #000000, $amount: 20);
      }
    }
  }

  &.disabled {
    border-bottom: 4px solid rgba(0,0,0, 0.1);

    .icon {
      opacity: 0.2;
    }
  }
  .icon {
    max-width: 60px;
    margin-bottom: 1em;
    @media screen and (max-width: 567px) {
      margin-bottom: 0;
      font-size: 20px;
    }
  }
}