:root {
  --primaryColor: #15162D;
  --successColor: rgb(140,194,72);
  --warningColor: rgb(255,150,6);
  --dangerColor: rgb(220,65,47);
  --disabledColor: rgb(189,189,189);
  --grayIconColor: rgb(190,190,190);
}

.MuiButtonBase-root.MuiButton-contained.settings {
  @media screen and (min-width: 567px) {
    padding-right: 0;
    padding-left: 0;
  }
  .MuiButton-startIcon {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.remove-mobile {
  @media screen and (max-width: 567px) {
    display: none;
  }
}

.App {
  text-align: center;
}

.clone-icon {
  margin-top: 10px;
}

body, html, p {
  color: lighten($color: #000000, $amount: 30);
}

h1, h2, h3, h4, h5, h6 {
  color: lighten($color: #000000, $amount: 25);
}

@media screen and (max-width: 600px) {
  .clone-icon {
    transform: rotate(90deg);
  }
}

a.primary-link {
  color: #424262;
  text-decoration: none;
}

/* Loading widget */
.pantahub-loading-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: #f0f0f0;
  border-radius: 100%;
  margin: 0.5rem 0;
  width: 100%;
  min-width: 140px;
}

.pantahub-loading {
  animation-duration: 6s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editable {
  .editable-inner {
    padding: 0 0rem;
    transition: padding 0.5s, background-color 0.5s, border-bottom 0.5s;
  }
  .editable-inner {
    margin-right: 0.3em;
  }
  i {
    cursor: pointer;
  }
  .editable-inner[contenteditable='true'] {
    background-color: rgb(211,211,211);
    border-bottom: 1px solid rgb(180,180,180);
    background-color: white;
    padding: 0 0;
    outline: none;
  }
}

.progress-with-label {
  position: relative;
  &--label {
    color: white;
    position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -0.7em;
    z-index: 1000;
    text-shadow: rgba(0,0,0, 0.3) -1px -1px;
  }
}

@for $i from 0 through 9 {
  .mt--#{$i*10} { margin-top: $i * 10px; }
  .mr--#{$i*10} { margin-right: $i * 10px; }
  .mb--#{$i*10} { margin-bottom: $i * 10px; }
  .ml--#{$i*10} { margin-left: $i * 10px; }
  .pt--#{$i*10} { padding-top: $i * 10px; }
  .pr--#{$i*10} { padding-right: $i * 10px; }
  .pb--#{$i*10} { padding-bottom: $i * 10px; }
  .pl--#{$i*10} { padding-left: $i * 10px; }
  .mt--#{$i} { margin-top: $i * 1em !important; }
  .mr--#{$i} { margin-right: $i * 1em !important; }
  .mb--#{$i} { margin-bottom: $i * 1em !important; }
  .ml--#{$i} { margin-left: $i * 1em !important; }
  .pt--#{$i} { padding-top: $i * 1em !important; }
  .pr--#{$i} { padding-right: $i * 1em !important; }
  .pb--#{$i} { padding-bottom: $i * 1em !important; }
  .pl--#{$i} { padding-left: $i * 1em !important; }

  @media screen and (max-width: 570px) {
    .mt-sm--#{$i*10} { margin-top: $i * 10px; }
    .mr-sm--#{$i*10} { margin-right: $i * 10px; }
    .mb-sm--#{$i*10} { margin-bottom: $i * 10px; }
    .ml-sm--#{$i*10} { margin-left: $i * 10px; }
    .pt-sm--#{$i*10} { padding-top: $i * 10px; }
    .pr-sm--#{$i*10} { padding-right: $i * 10px; }
    .pb-sm--#{$i*10} { padding-bottom: $i * 10px; }
    .pl-sm--#{$i*10} { padding-left: $i * 10px; }
    .mt-sm--#{$i} { margin-top: $i * 1em; }
    .mr-sm--#{$i} { margin-right: $i * 1em; }
    .mb-sm--#{$i} { margin-bottom: $i * 1em; }
    .ml-sm--#{$i} { margin-left: $i * 1em; }
    .pt-sm--#{$i} { padding-top: $i * 1em; }
    .pr-sm--#{$i} { padding-right: $i * 1em; }
    .pb-sm--#{$i} { padding-bottom: $i * 1em; }
    .pl-sm--#{$i} { padding-left: $i * 1em; }
  }
  .index-#{$i} { z-index: $i; position: relative; }
}

video {
  max-width: 100%;
}

.select-align-left .MuiSelect-select.MuiSelect-select {
  text-align: left;
}

.device-header {
  position: relative;

  .device-status-bar {
    display: block;
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    left: 0;
    @media screen and (max-width: 567px) {
      width: 100%;
      height: 6px;
    }
  }
  &.device-online {
    .device-status-bar {
      background-color: rgb(140,194,72);
    }
  }
  &.device-offline {
    .editable-area {
      color: rgb(150, 150, 150);
    }
    .device-status-bar {
      background-color: #dadada;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    color: rgb(150, 150, 150);
  }
}

small.new-line {
  display: block;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.hero-bg-color {
  background-color: white;
  // background-color: rgba(240, 240, 240, 1);
  padding: 1em 0 3em;
  // box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.1) inset;
}

.local-devices {
  .connection-buttons {
    .MuiButton-contained {
      width: 100%;
    }
  }
}

.no-mouse-event {
  &.center {
    display: flex;
    justify-content: center;
  }
  input, button, a, submit, .MuiSwitch-root, .MuiFormControlLabel-root {
    pointer-events: none;
  }
}

ul.list-no-bullets {
  list-style: none;
  padding-left: 0;
}

.share-button-group {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.share-button {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 0.2em 0.5em;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.1);
  color: white;
  margin: 0 0.5em;
  text-decoration: none;
  border-radius: 4px;
  height: 2.1em;
  svg {
    margin-right: 2px;
    transform: scale(0.7);
  }
  &--reddit {
    background-color: #FF4500;
  }
  &--twitter {
    background-color: #00A2F3;
  }
}

.MuiButton-root {
  .MuiButton-label {
    text-transform: none;
  }
}

.diagonal-bg {
  position: relative;
  
  &::before {
    transform: rotate(1.4deg);
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -20%;
    left: -40%;
    height: 140%;
    width: 160%;
  }
  .MuiContainer-root {
    z-index: 2;
    position: relative;
  }

  &.primary {
    &::before {
      background-color: var(--primaryColor);
    }
  }
  &.with-shadow {
    &::before {
      box-shadow: 0px 4px 0px 0 #FF9F52;
    }
  }
}

.main-header {
  background-color: var(--primaryColor);
}